body {
    font-family: Helvetica, sans-serif;
}

#wb {
    margin-left: 120px;
}

#snap_btn {
    margin-left: 100px;
    margin-bottom: 20px;
}

#snap_btn1 {
    margin-left: 100px;
    margin-bottom: 20px;
}

h2,
h3 {
    margin-top: 0;
}

form {
    margin-top: 15px;
}

form>input {
    margin-right: 15px;
}

#my_camera {
    margin: 10px;
    padding: 0px;
    border: 1px solid;
    background: #ccc;
    width: 340px;
    height:340px;
}

#my_camera1 {
    margin: 10px;
    padding: 0px;
    border: 1px solid;
    background: #ccc;
    width: 340px;
    height:340px;
}

#results {
    margin: 10px;
    padding: 0px;
    border: 1px solid;
    background: #ccc;
    width: 340px;
    height:340px;
}

#results1 {
    margin: 10px;
    padding: 0px;
    border: 1px solid;
    background: #ccc;
    width: 340px;
    height:340px;
}

#json_results {
    margin: 10px;
    padding: 0px;
    border: 1px solid;
    background: #ccc;
    width: 340px;
    height:340px;
}

#json_results1 {
    margin: 10px;
    padding: 0px;
    border: 1px solid;
    background: #ccc;
    width: 340px;
    height:340px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(72, 97, 99);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cf2a2a;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #694e4e;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .navbar-brand {padding-left: 10px;}